*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#ff5722,
#ff0080,
#00bcd4
);

overflow:hidden;

font-family:
Arial;

}

.container{

text-align:center;

}

h1{

color:white;

font-size:70px;

margin-bottom:60px;

}

#machine{

display:flex;

gap:40px;

perspective:1400px;

}

.ball{

width:130px;

height:130px;

border-radius:50%;

background:
radial-gradient(
circle,
#fff9b0,
#ffd600
);

display:flex;

justify-content:center;

align-items:center;

transform-style:
preserve-3d;

box-shadow:
0 30px 60px rgba(
0,
0,
0,
0.6);

}

.ball span{

font-size:70px;

font-weight:bold;

color:black;

display:block;

}

.roll{

animation:
revolve .2s linear infinite;

}

@keyframes revolve{

0%{

transform:
rotateX(0deg)
rotateY(0deg);

}

100%{

transform:
rotateX(720deg)
rotateY(360deg);

}

}

button{

margin-top:70px;

padding:20px 80px;

font-size:34px;

border:none;

border-radius:40px;

cursor:pointer;

background:
linear-gradient(
90deg,
gold,
orange
);

box-shadow:
0 10px 25px black;

}

button:hover{

transform:
scale(1.08);

}