*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
135deg,
#ff5722,
#ff0080,
#00bcd4
);

overflow:hidden;

font-family:
Arial;

}

/* NEWS CRAWLER */

#historyBar{

position:absolute;

top:0;

left:0;

width:100%;

height:60px;

background:

rgba(
0,
0,
0,
0.25
);

backdrop-filter:

blur(
10px
);

display:flex;

align-items:center;

overflow:hidden;

}

.history-title{

padding-left:25px;

color:white;

font-size:24px;

font-weight:bold;

white-space:nowrap;

}

#ticker{

color:

gold;

font-size:

28px;

padding-left:

50px;

white-space:

nowrap;

animation:

scroll 25s linear infinite;

}

@keyframes scroll{

0%{

transform:

translateX(
100%
)

}

100%{

transform:

translateX(
-100%
)

}

}

.container{

text-align:center;

margin-top:80px;

}

h1{

color:white;

font-size:70px;

margin-bottom:60px;

}

#machine{

display:flex;

gap:40px;

perspective:1400px;

}

.ball{

width:130px;

height:130px;

border-radius:50%;

background:

radial-gradient(
circle,
#fff9b0,
#ffd600
);

display:flex;

justify-content:center;

align-items:center;

transform-style:

preserve-3d;

box-shadow:

0 30px 60px rgba(
0,
0,
0,
0.6
);

}

.ball span{

font-size:70px;

font-weight:bold;

}

.roll{

animation:

revolve .2s linear infinite;

}

@keyframes revolve{

100%{

transform:

rotateX(
720deg
)

rotateY(
360deg
)

}

}

button{

margin-top:70px;

padding:20px 80px;

font-size:34px;

border:none;

border-radius:40px;

cursor:pointer;

background:

linear-gradient(
90deg,
gold,
orange
);

box-shadow:

0 10px 25px black;

}

button:hover{

transform:

scale(
1.08
);

}