<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>
3D Lottery Machine
</title>

<link
rel="stylesheet"
href="/static/css/style.css">

</head>

<body>

<!-- NEWS TICKER -->

<div id="historyBar">

<div class="history-title">

🏆 RECENT WINNERS

</div>

<div id="ticker">

Waiting for first draw...

</div>

</div>

<div class="container">

<h1>

🎰 LOTTERY MACHINE

</h1>

<div id="machine">

<div class="ball"><span>0</span></div>
<div class="ball"><span>0</span></div>
<div class="ball"><span>0</span></div>
<div class="ball"><span>0</span></div>
<div class="ball"><span>0</span></div>
<div class="ball"><span>0</span></div>

</div>

<button
id="startBtn"
onclick="startRoll()">

START

</button>

</div>

<script
src="/static/js/app.js">

</script>

</body>

</html>